.App {
  text-align: center;
 /* background-image: url("resources/cleanDarkRedTextureBackground.jpg"); */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(14px + 2vmin);
  color: #c6cbde;
}

.css-dpjnhs-MuiInputBase-root-MuiOutlinedInput-root {
  color: #c6cbde;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

div:not(:last-child) {
  margin-bottom: 40px;
}

.fractionSelect {
  width: 1200px;
  float:left;
}


#charSheet {
  margin: auto;
  display: flex;
}

label,input {
  display:flex;
  flex-direction:column;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
