.App {
  text-align: center;
 /* background-images: url("resources/cleanDarkRedTextureBackground.jpg"); */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(14px + 2vmin);
  color: #c6cbde;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.fractionSelect {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

img {
  height: 516.625px;
  width: 350px;
}

#vampireClan-label{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#descriptionVentrue,
#descriptionBrujah,
#descriptionTremere,
#descriptionToreador,
#descriptionTzimisce,
#descriptionMalkavian,
#descriptionRavons,
#descriptionGangrel,
#descriptionAssamite,
#descriptionNosferatu{
  border-width:1px;
  border-style:solid;
  border-color:black;
  border-radius: 10px;
  font-size: 10px;
}


.information{
  padding-left: 80px;
  padding-right: 80px;
}

.sleeperFractionSelect,
.vampireFractionSelect,
.hunterFractionSelect {
  padding: 0 1.5%;
}

label,input {
  display:flex;
  flex-direction:column;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
