.App {
  text-align: center;
 /* background-image: url("resources/cleanDarkRedTextureBackground.jpg"); */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(14px + 2vmin);
  color: #c6cbde;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.fractionSelect {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.sleeperFractionSelect,
.vampireFractionSelect,
.hunterFractionSelect {
  padding: 0 1.5%;
}

/*div:not(:last-child) {*/
/*  margin-bottom: 40px;*/
/*}*/


/*#fractionSelect{*/
/*  width:600px;*/
/*  height:190px;*/
/*  background-color:green;*/
/*  padding-top:20px;*/
/*  padding-left:15px;*/
/*  padding-right:15px;*/
/*}*/

/*#sleeperFractionSelect{*/
/*  float:left;*/
/*  background:Red;*/
/*  width:25%;*/
/*  height:280px;*/
/*}*/

/*#vampireFractionSelect{*/
/*  float:left;*/
/*  background:Green;*/
/*  width:50%;*/
/*  height:280px;*/
/*}*/

/*#hunterFractionSelect{*/
/*  float:right;*/
/*  background:blue;*/
/*  width:25%;*/
/*  height:280px;*/
/*}*/

/*#charSheet {*/
/*  margin: auto;*/
/*  display: flex;*/
/*}*/

label,input {
  display:flex;
  flex-direction:column;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
